<html>
    <head>
        {% block head %}
            <title>Site title - No page title</title>
        {% endblock %}
    </head>
    <body>
        {% block content %}
            No page content defined!
        {% endblock %}
    </body>
</html>
